.container {
  max-width: 400px;
  width: fit-content;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid yellow;
  border-radius: 5px;
  box-shadow: 0 0 10px wheat;
  background-color: rgb(48, 45, 45);
  /* background-image: linear-gradient(
    0deg,
    hsl(56, 100%, 97%),
    hsl(56, 100%, 95%)
  ); */
}

.header {
  color: wheat;
  font-size: 32px;
  font-weight: 600;
}
.contacts {
  min-height: 100vh;
}
