.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 5px;
  row-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid wheat;
  border-radius: 5px;
  row-gap: 10px;
  color: black;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: appear;
  animation-duration: 300ms;
  animation-timing-function: ease;
  /* animation-delay: 1s; */
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.33;
  }
  66% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}

.item:hover {
  border-color: yellow;
}
